* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(77, 77, 77);
  color: whitesmoke;
  font-size: 1.5rem;
}

div#resultWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
