* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// hide burger
div.burger {
  display: none;
}

// nav-bar
nav.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 8vh;
  flex-direction: row;
  background-color: #eeeeee;
  justify-content: space-between;
}

nav.nav div.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  img {
    width: 60px;
    height: 60px;
  }

  h1#title {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

nav.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;

  li.nav-item a {
    margin: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;
    color: #326273;
    font-weight: bold;

    &:hover {
      color: #ff934f;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.25s ease-in;
    }
  }
}

// welcome message
div.welcome-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 100vw;
  height: 30vh;
  background-color: #326273;
  color: #ffffff;
}

div.welcome-message h1 {
  display: inline-block;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  vertical-align: middle;
}

//section title
main div#section-title {
  display: flex;
  justify-content: center;

  h1 {
    margin: 1rem;
    font-size: 2rem;
  }
}

// content-boxes
section#content-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1.5rem;
    width: 600px;
    height: 20vh;
    border-radius: 15px;
  }
}

//CTA button
div.button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1rem;

  button#CTA-button {
    background-color: #72c0d1;
    color: rgb(71, 71, 71);
    font-size: 1.5rem;
    font-weight: bold;
    width: 20vw;
    height: 7vh;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: #6de0ae;
      transition: all 0.25s ease-in;
      color: #f1f1f1;
    }
  }
}

// screen width bigger than 1200px
@media screen and (min-width: 1200px) {
  section#content-box-wrapper {
    justify-content: center;
    align-items: center;
    div.content-box {
      width: 600px;
    }
  }
}

// screen between 800-1199
@media screen and (max-width: 1199px) and (min-width: 800px) {
  // content-boxes
  section#content-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div.content-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightpink;
      color: white;
      font-size: 2.5rem;
      font-weight: bold;
      padding: 0.5rem;
      margin: 1.5rem;
      width: 35v;
      height: 20vh;
      border-radius: 15px;
    }
  }
}

// screen between 500-799px
@media screen and (min-width: 500px) and (max-width: 799px) {
  ul.main li.nav-item {
    display: none;
  }
  div.burger {
    display: inline-block;
    align-items: center;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    input {
      display: none;
    }
    input:checked ~ .menu {
      max-height: 300px;
      width: 100vw;
      justify-content: flex-end;
    }
    label {
      float: right;
      padding-right: 60px;
      line-height: 60px;
      cursor: pointer;
      vertical-align: middle;
    }
    img {
      width: 60px;
      height: 60px;
      float: right;
      margin-top: 15px;
      cursor: pointer;
    }
    img:hover {
      cursor: pointer;
    }
    ul.menu {
      clear: both;
      background: #fff;
      list-style: none;
      padding-left: 0;
      max-height: 0;
      overflow: hidden;
      transition: 0.2s;
      li.burger {
        text-align: center;
        border-bottom: 1px solid #efefef;
      }
      a {
        padding: 0.5rem;
        text-decoration: none;
        display: block;
        line-height: 50px;
        font-size: 1.5rem;
        color: #5d5d5d;
        &:hover {
          background: #5d5d5d;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 499px) {
  body header nav.nav {
    height: 11vh;
    div.logo img {
      width: 70px;
      height: 70px;
    }
    div.logo h1#title {
      font-size: 1.75rem;
    }
    ul.mian {
      justify-content: center;
      align-items: center;
    }
  }
}
